<div class="grid-item {{ project.category.identifier }} ">
    <div class="image-container">
        <div class="project-description h-center">
            <p>
                {{ project.description }}
            </p>

        </div>
        <img src="https://picsum.photos/280/200?random={{ loop.index }}" alt="">
        <div class="band">{{ project.name }}</div>
    </div>
</div>
