{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="portfolio">
        <div class="h-center header">
            <div class="intro">
                Un peu de mon travail personnel et professionnel
            </div>
            <h1>
                Portfolio
            </h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 h-center">
                    <ul class="list-group list-group-horizontal-sm project-filters">
                        <li class="list-group-item list-group-item-light active" data-filter="*">All</li>
                        <li class="list-group-item list-group-item-light" data-filter=".lead-dev">Lead</li>
                        <li class="list-group-item list-group-item-light" data-filter=".dev">Dev</li>
                        <li class="list-group-item list-group-item-light" data-filter=".side">Side Projects</li>
                    </ul>
                </div>
                <div class="col-12">
                    <div class="grid">
                        {% for i in 1..3 %}
                            {% set item = 'side' %}
                            {% include 'project/_project.html.twig' %}
                        {% endfor %}
                        {% for i in 1..8 %}
                            {% set item = 'lead-dev' %}
                            {% include 'project/_project.html.twig' %}
                        {% endfor %}
                        {% for i in 1..4 %}
                            {% set item = 'dev' %}
                            {% include 'project/_project.html.twig' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
