{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="portfolio">
        <div class="h-center header">
            <div class="intro">
                Un peu de mon travail personnel et professionnel
            </div>
            <h1>
                Portfolio
            </h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 h-center">
                    <ul class="list-group list-group-horizontal-sm project-filters">
                        <li class="list-group-item list-group-item-light active" data-filter="*">All</li>
                        {% for category in categories %}
                            <li class="list-group-item list-group-item-light" data-filter=".{{ category.identifier }}">{{ category.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-12">
                    <div class="grid">
                        {% for project in projects %}
                            {% include 'project/_project.html.twig' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
